In [1]:
import pandas as pd

file_path = r"D:\\hicheel\\AI\\loan_train.csv"
data = pd.read_csv(file_path)

print(data.head())

  Gender Married Dependents     Education Self_Employed  Applicant_Income  \
0   Male      No          0      Graduate            No            584900
1   Male     Yes          1      Graduate            No            458300
2   Male     Yes          0      Graduate           Yes            300000
3   Male     Yes          0  Not Graduate            No            258300
4   Male      No          0      Graduate            No            600000

   Coapplicant_Income  Loan_Amount   Term  Credit_History   Area Status
0                 0.0     15000000  360.0             1.0  Urban      Y
1            150800.0     12800000  360.0             1.0  Rural      N
2                 0.0      6600000  360.0             1.0  Urban      Y
3            235800.0     12000000  360.0             1.0  Urban      Y
4                 0.0     14100000  360.0             1.0  Urban      Y

In [2]:
import math
df = pd.DataFrame(data)
df

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

In [3]:
df[:20]

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,541700,419600.0,26700000,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,233300,151600.0,9500000,360.0,1.0,Urban,Y
7,Male,Yes,3+,Graduate,No,303600,250400.0,15800000,360.0,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,400600,152600.0,16800000,360.0,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,1284100,1096800.0,34900000,360.0,1.0,Semiurban,N
10,Male,Yes,2,Graduate,No,320000,70000.0,7000000,360.0,1.0,Urban,Y
11,Male,Yes,2,Graduate,NaN,250000,184000.0,10900000,360.0,1.0,Urban,Y
12,Male,Yes,2,Graduate,No,307300,810600.0,20000000,360.0,1.0,Urban,Y
13,Male,No,0,Graduate,No,185300,284000.0,11400000,360.0,1.0,Rural,N
14,Male,Yes,2,Graduate,No,129900,108600.0,1700000,120.0,1.0,Urban,Y
15,Male,No,0,Graduate,No,495000,0.0,12500000,360.0,1.0,Urban,Y
16,Male,No,1,Not Graduate,No,359600,0.0,10000000,240.0,NaN,Urban,Y
17,Female,No,0,Graduate,No,351000,0.0,7600000,360.0,0.0,Urban,N
18,Male,Yes,0,Not Graduate,No,488700,0.0,13300000,360.0,1.0,Rural,N
19,Male,Yes,0,Graduate,NaN,260000,350000.0,11500000,NaN,1.0,Urban,Y

In [4]:
df[:2]

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N

In [5]:

null_count = df['Gender'].isnull().sum()
print(null_count)

13

In [6]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [7]:

null_count = df['Gender'].isnull().sum()
print(null_count)

0

In [8]:
null_count = df['Married'].isnull().sum()
print(null_count)

3

In [9]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [10]:
null_count = df['Married'].isnull().sum()
print(null_count)

0

In [11]:
null_count = df['Dependents'].isnull().sum()
print(null_count)

15

In [12]:
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])

In [13]:
df['Dependents'].mode()

0    0
Name: Dependents, dtype: object

In [14]:
null_count = df['Dependents'].isnull().sum()
print(null_count)

0

In [15]:
null_count = df['Education'].isnull().sum()
print(null_count)

0

In [16]:
#Self_Employed	
n = df['Self_Employed'].isnull().sum()
n

32

In [17]:
df['Self_Employed'].mode()

0    No
Name: Self_Employed, dtype: object

In [18]:
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [19]:
#Applicant_Income	Coapplicant_Income	Loan_Amount	Term	Credit_History	Area	Status
n = df['Applicant_Income'].isnull().sum()
n

0

In [20]:
n = df['Coapplicant_Income'].isnull().sum()
n

0

In [21]:
#Loan_Amount	Term	Credit_History	Area	Status
n = df['Loan_Amount'].isnull().sum()
n

0

In [22]:
n = df['Term'].isnull().sum()
n

14

In [23]:
df['Term'].fillna(df['Term'].median(), inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_42164\3318286922.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Term'].fillna(df['Term'].median(), inplace=True)

In [24]:
n = df['Term'].isnull().sum()
n

0

In [25]:
#Credit_History	Area	Status
n = df['Credit_History'].isnull().sum()
n

50

In [26]:
df['Credit_History'].head(10)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    0.0
8    1.0
9    1.0
Name: Credit_History, dtype: float64

In [27]:
df['Credit_History'].mean()

0.8421985815602837

In [28]:
df['Credit_History'].median()

1.0

In [29]:
#df['Credit_History'] = df['Credit_History'].apply(lambda x: np.random.choice([1, 0]) if pd.isna(x) else x)
df['Credit_History'].fillna(df['Credit_History'].median(), inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_42164\28219182.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna(df['Credit_History'].median(), inplace=True)

In [30]:
n = df['Credit_History'].isnull().sum()
n

0

In [31]:
n = df['Area'].isnull().sum()
n

0

In [32]:
n = df['Status'].isnull().sum()
n

0

In [33]:
import numpy as np
#df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})
#df['Married'] = df['Married'].map({'Yes': 1, 'No': 0})
#df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
#df['Self_Employed'] = df['Self_Employed'].apply(lambda x: np.random.choice(['Yes', 'No']) if pd.isna(x) else x)
#df['Term'].fillna(df['Term'].mean(), inplace=True)
#df['Credit_History'] = df['Credit_History'].apply(lambda x: np.random.choice([1, 0]) if pd.isna(x) else x)

In [34]:
df[:20]

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,541700,419600.0,26700000,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,233300,151600.0,9500000,360.0,1.0,Urban,Y
7,Male,Yes,3+,Graduate,No,303600,250400.0,15800000,360.0,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,400600,152600.0,16800000,360.0,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,1284100,1096800.0,34900000,360.0,1.0,Semiurban,N
10,Male,Yes,2,Graduate,No,320000,70000.0,7000000,360.0,1.0,Urban,Y
11,Male,Yes,2,Graduate,No,250000,184000.0,10900000,360.0,1.0,Urban,Y
12,Male,Yes,2,Graduate,No,307300,810600.0,20000000,360.0,1.0,Urban,Y
13,Male,No,0,Graduate,No,185300,284000.0,11400000,360.0,1.0,Rural,N
14,Male,Yes,2,Graduate,No,129900,108600.0,1700000,120.0,1.0,Urban,Y
15,Male,No,0,Graduate,No,495000,0.0,12500000,360.0,1.0,Urban,Y
16,Male,No,1,Not Graduate,No,359600,0.0,10000000,240.0,1.0,Urban,Y
17,Female,No,0,Graduate,No,351000,0.0,7600000,360.0,0.0,Urban,N
18,Male,Yes,0,Not Graduate,No,488700,0.0,13300000,360.0,1.0,Rural,N
19,Male,Yes,0,Graduate,No,260000,350000.0,11500000,360.0,1.0,Urban,Y

In [35]:
test_path = r"D:\\hicheel\\AI\\loan_test.csv"

test_data = pd.read_csv(test_path)

In [36]:
test=pd.DataFrame(test_data)

In [37]:
test_data[:5]

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area
0,Male,Yes,0,Graduate,No,572000,0,11000000,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,307600,150000,12600000,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,500000,180000,20800000,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,234000,254600,10000000,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,327600,0,7800000,360.0,1.0,Urban

In [38]:
n = test_data['Gender'].isnull().sum()
n

11

In [39]:
test_data['Gender'] = test_data['Gender'].fillna(test_data['Gender'].mode()[0])

In [40]:
#Married	Dependents	Education	Self_Employed	Applicant_Income	Coapplicant_Income	Loan_Amount	Term	Credit_History	Area
n = test_data['Married'].isnull().sum()
n

0

In [41]:
n = test_data['Dependents'].isnull().sum()
n

10

In [42]:
test_data['Dependents'] = test_data['Dependents'].fillna(test_data['Dependents'].mode()[0])

In [43]:
n = test_data['Dependents'].isnull().sum()
n

0

In [44]:
#Education	Self_Employed	Applicant_Income	Coapplicant_Income	Loan_Amount	Term	Credit_History	Area
n = test_data['Self_Employed'].isnull().sum()
n

23

In [45]:
test_data['Self_Employed'] = test_data['Self_Employed'].fillna(test_data['Self_Employed'].mode()[0])

In [46]:
#Applicant_Income	Coapplicant_Income	Loan_Amount	Term	Credit_History	Area
n = test_data['Term'].isnull().sum()
n

6

In [47]:
test_data['Term'].fillna(test_data['Term'].median(), inplace=True)
n = test_data['Term'].isnull().sum()
n

C:\Users\Dell\AppData\Local\Temp\ipykernel_42164\952220327.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Term'].fillna(test_data['Term'].median(), inplace=True)

0

In [48]:
#Credit_History	Area
n = test_data['Credit_History'].isnull().sum()
n

29

In [49]:
test_data['Credit_History'] = test_data['Credit_History'].fillna(test_data['Credit_History'].mode()[0])
n = test_data['Credit_History'].isnull().sum()
n

0

In [50]:
#Area
n = test_data['Area'].isnull().sum()
n

0

In [51]:
min_value = df['Applicant_Income'].min()
max_value = df['Applicant_Income'].max()

In [52]:
min_value

15000

In [53]:
max_value

8100000

In [54]:
min_value = df['Applicant_Income'].min()
max_value = df['Applicant_Income'].max()
print(min_value, max_value)

15000 8100000

In [55]:
min_value = df['Loan_Amount'].min()
max_value = df['Loan_Amount'].max()
print(min_value, max_value)

0 70000000

In [56]:
min_value = test_data['Loan_Amount'].min()
max_value = test_data['Loan_Amount'].max()
print(min_value, max_value)

0 55000000

In [57]:
min_value = test_data['Coapplicant_Income'].min()
max_value = test_data['Coapplicant_Income'].max()
print(min_value, max_value)

0 2400000

In [58]:
min_value = test_data['Applicant_Income'].min()
max_value = test_data['Applicant_Income'].max()
print(min_value, max_value)

0 7252900

In [59]:
def define_bins(df, column, num_bins=5):
    min_value = df[column].min()
    max_value = df[column].max()
    bins = np.linspace(min_value, max_value, num_bins + 1)
    return bins

applicant_income_bins = define_bins(df, 'Applicant_Income', num_bins=5)
coapplicant_income_bins = define_bins(df, 'Coapplicant_Income', num_bins=5)
loan_amount_bins = define_bins(df, 'Loan_Amount', num_bins=5)

df['Applicant_Income_Binned'] = pd.cut(df['Applicant_Income'], applicant_income_bins, labels=[f'{int(applicant_income_bins[i])}-{int(applicant_income_bins[i+1])}' for i in range(len(applicant_income_bins)-1)])
df['Coapplicant_Income_Binned'] = pd.cut(df['Coapplicant_Income'], coapplicant_income_bins, labels=[f'{int(coapplicant_income_bins[i])}-{int(coapplicant_income_bins[i+1])}' for i in range(len(coapplicant_income_bins)-1)])
df['Loan_Amount_binned'] = pd.cut(df['Loan_Amount'], loan_amount_bins, labels=[f'{int(loan_amount_bins[i])}-{int(loan_amount_bins[i+1])}' for i in range(len(loan_amount_bins)-1)])

test_data['Applicant_Income_Binned'] = pd.cut(test_data['Applicant_Income'], applicant_income_bins, labels=[f'{int(applicant_income_bins[i])}-{int(applicant_income_bins[i+1])}' for i in range(len(applicant_income_bins)-1)])
test_data['Loan_Amount_binned'] = pd.cut(test_data['Loan_Amount'], loan_amount_bins, labels=[f'{int(loan_amount_bins[i])}-{int(loan_amount_bins[i+1])}' for i in range(len(loan_amount_bins)-1)])
test_data['Coapplicant_Income_Binned'] = pd.cut(test_data['Coapplicant_Income'], coapplicant_income_bins, labels=[f'{int(coapplicant_income_bins[i])}-{int(coapplicant_income_bins[i+1])}' for i in range(len(coapplicant_income_bins)-1)])

print(df[['Applicant_Income', 'Applicant_Income_Binned', 'Coapplicant_Income', 'Coapplicant_Income_Binned']].head())

   Applicant_Income Applicant_Income_Binned  Coapplicant_Income  \
0            584900           15000-1632000                 0.0
1            458300           15000-1632000            150800.0
2            300000           15000-1632000                 0.0
3            258300           15000-1632000            235800.0
4            600000           15000-1632000                 0.0

  Coapplicant_Income_Binned
0                       NaN
1                  0-833340
2                       NaN
3                  0-833340
4                       NaN

In [60]:
applicant_income_bins

array([  15000., 1632000., 3249000., 4866000., 6483000., 8100000.])

In [61]:
coapplicant_income_bins

array([      0.,  833340., 1666680., 2500020., 3333360., 4166700.])

In [62]:
n = test_data['Applicant_Income_Binned'].isnull().sum()
n

2

In [63]:
n = df['Coapplicant_Income_Binned'].isnull().sum()
n

273

In [64]:
df['Coapplicant_Income']

0           0.0
1      150800.0
2           0.0
3      235800.0
4           0.0
         ...
609         0.0
610         0.0
611     24000.0
612         0.0
613         0.0
Name: Coapplicant_Income, Length: 614, dtype: float64

In [65]:
test_data['Coapplicant_Income_Binned'] = test_data['Coapplicant_Income_Binned'].fillna(test_data['Coapplicant_Income_Binned'].mode()[0])
test_data['Applicant_Income_Binned'] = test_data['Applicant_Income_Binned'].fillna(test_data['Applicant_Income_Binned'].mode()[0])
test_data['Loan_Amount_binned'] = test_data['Loan_Amount_binned'].fillna(test_data['Loan_Amount_binned'].mode()[0])

In [66]:
df['Coapplicant_Income_Binned'] = df['Coapplicant_Income_Binned'].fillna(df['Coapplicant_Income_Binned'].mode()[0])

In [67]:
n = df['Coapplicant_Income_Binned'].isnull().sum()
n

0

In [68]:
df['Applicant_Income_Binned'] = df['Applicant_Income_Binned'].fillna(df['Applicant_Income_Binned'].mode()[0])

In [69]:
df['Coapplicant_Income_Binned']

0      0-833340
1      0-833340
2      0-833340
3      0-833340
4      0-833340
         ...
609    0-833340
610    0-833340
611    0-833340
612    0-833340
613    0-833340
Name: Coapplicant_Income_Binned, Length: 614, dtype: category
Categories (5, object): ['0-833340' < '833340-1666680' < '1666680-2500020' < '2500020-3333360' < '3333360-4166700']

In [71]:
df['Loan_Amount_binned'] = df['Loan_Amount_binned'].fillna(df['Loan_Amount_binned'].mode()[0])

In [70]:
df.drop('Applicant_Income', axis=1, inplace=True)
df.drop('Coapplicant_Income', axis=1, inplace=True)
df.drop('Loan_Amount', axis=1, inplace=True)

In [72]:
from collections import Counter
from sklearn.model_selection import train_test_split

def entropy(data):
    total = len(data)
    class_counts = Counter(data)
    entropy_value = 0.0
    for count in class_counts.values():
        p = count / total
        entropy_value -= p * np.log2(p)
    return entropy_value

def information_gain(data, feature, target):
    total_entropy = entropy(target)
    values = data[feature].unique()
    weighted_entropy = 0.0
    
    for value in values:
        subset_target = target[data[feature] == value]
        weighted_entropy += (len(subset_target) / len(target)) * entropy(subset_target)
    
    return total_entropy - weighted_entropy

def build_tree(data, target, features, depth=0, max_depth=5):
    if len(set(target)) == 1 or depth >= max_depth:
        return Counter(target).most_common(1)[0][0]
    gains = {feature: information_gain(data, feature, target) for feature in features}
    best_feature = max(gains, key=gains.get)
    
    tree = {best_feature: {}}
    
    for value in data[best_feature].unique():
        subset = data[data[best_feature] == value]
        subset_target = target[data[best_feature] == value]
        remaining_features = [f for f in features if f != best_feature]
        
        tree[best_feature][value] = build_tree(subset, subset_target, remaining_features, depth + 1, max_depth)
    
    return tree
def predict(tree, sample):
    if not isinstance(tree, dict):
        return tree

    feature = list(tree.keys())[0]
    value = sample[feature]

    if value not in tree[feature]:
        return Counter([val for branch in tree[feature].values() for val in branch]).most_common(1)[0][0]

    return predict(tree[feature][value], sample)

X = df.drop(columns=['Status'])
y = df['Status'] 
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

features = X_train.columns

tree = build_tree(X_train, y_train, features)

In [73]:
df

,Gender,Married,Dependents,Education,Self_Employed,Term,Credit_History,Area,Status,Applicant_Income_Binned,Coapplicant_Income_Binned,Loan_Amount_binned
0,Male,No,0,Graduate,No,360.0,1.0,Urban,Y,15000-1632000,0-833340,14000000-28000000
1,Male,Yes,1,Graduate,No,360.0,1.0,Rural,N,15000-1632000,0-833340,0-14000000
2,Male,Yes,0,Graduate,Yes,360.0,1.0,Urban,Y,15000-1632000,0-833340,0-14000000
3,Male,Yes,0,Not Graduate,No,360.0,1.0,Urban,Y,15000-1632000,0-833340,0-14000000
4,Male,No,0,Graduate,No,360.0,1.0,Urban,Y,15000-1632000,0-833340,14000000-28000000
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,360.0,1.0,Rural,Y,15000-1632000,0-833340,0-14000000
610,Male,Yes,3+,Graduate,No,180.0,1.0,Rural,Y,15000-1632000,0-833340,0-14000000
611,Male,Yes,1,Graduate,No,360.0,1.0,Urban,Y,15000-1632000,0-833340,14000000-28000000
612,Male,Yes,2,Graduate,No,360.0,1.0,Urban,Y,15000-1632000,0-833340,14000000-28000000
613,Female,No,0,Graduate,Yes,360.0,0.0,Semiurban,N,15000-1632000,0-833340,0-14000000

In [74]:
tree

{'Credit_History': {1.0: {'Term': {360.0: {'Area': {'Semiurban': {'Dependents': {'0': {'Loan_Amount_binned': {'14000000-28000000': 'Y',
          '0-14000000': 'Y',
          '42000000-56000000': 'Y',
          '28000000-42000000': 'Y'}},
        '2': 'Y',
        '3+': {'Education': {'Not Graduate': 'Y', 'Graduate': 'Y'}},
        '1': {'Loan_Amount_binned': {'28000000-42000000': 'N',
          '14000000-28000000': 'Y',
          '0-14000000': 'Y',
          '56000000-70000000': 'Y',
          '42000000-56000000': 'Y'}}}},
      'Rural': {'Loan_Amount_binned': {'56000000-70000000': 'N',
        '14000000-28000000': {'Dependents': {'0': 'Y',
          '2': 'Y',
          '3+': 'Y',
          '1': 'Y'}},
        '0-14000000': {'Dependents': {'0': 'Y',
          '1': 'N',
          '2': 'Y',
          '3+': 'Y'}},
        '28000000-42000000': {'Dependents': {'2': 'Y', '0': 'N', '3+': 'Y'}},
        '42000000-56000000': {'Married': {'Yes': 'Y', 'No': 'N'}}}},
      'Urban': {'Coapplicant_Income_Binned': {'0-833340': {'Loan_Amount_binned': {'14000000-28000000': 'Y',
          '0-14000000': 'Y',
          '42000000-56000000': 'N',
          '28000000-42000000': 'Y'}},
        '1666680-2500020': 'N',
        '3333360-4166700': 'N'}}}},
    480.0: {'Loan_Amount_binned': {'14000000-28000000': 'N',
      '0-14000000': {'Gender': {'Male': 'N', 'Female': 'Y'}},
      '56000000-70000000': 'Y'}},
    180.0: {'Loan_Amount_binned': {'28000000-42000000': 'N',
      '14000000-28000000': 'Y',
      '0-14000000': {'Dependents': {'2': 'Y',
        '1': {'Education': {'Graduate': 'Y', 'Not Graduate': 'Y'}},
        '0': {'Self_Employed': {'No': 'Y', 'Yes': 'N'}},
        '3+': {'Education': {'Not Graduate': 'N', 'Graduate': 'Y'}}}}}},
    240.0: {'Dependents': {'1': 'Y', '2': 'N', '0': 'Y'}},
    60.0: 'Y',
    84.0: {'Gender': {'Female': 'Y',
      'Male': {'Dependents': {'1': 'N', '2': 'Y'}}}},
    300.0: {'Married': {'Yes': 'Y', 'No': 'N'}},
    120.0: 'Y',
    12.0: 'Y',
    36.0: 'N'}},
  0.0: {'Coapplicant_Income_Binned': {'0-833340': {'Gender': {'Male': {'Loan_Amount_binned': {'0-14000000': {'Area': {'Semiurban': 'N',
          'Rural': 'N',
          'Urban': 'N'}},
        '14000000-28000000': {'Dependents': {'1': 'N',
          '0': 'N',
          '2': 'N',
          '3+': 'N'}},
        '28000000-42000000': 'N'}},
      'Female': 'N'}},
    '833340-1666680': {'Gender': {'Male': 'N', 'Female': 'Y'}}}}}}

In [75]:
test_data.drop('Applicant_Income', axis=1, inplace=True)
test_data.drop('Coapplicant_Income', axis=1, inplace=True)
test_data.drop('Loan_Amount', axis=1, inplace=True)

In [76]:
test_data

,Gender,Married,Dependents,Education,Self_Employed,Term,Credit_History,Area,Applicant_Income_Binned,Loan_Amount_binned,Coapplicant_Income_Binned
0,Male,Yes,0,Graduate,No,360.0,1.0,Urban,15000-1632000,0-14000000,0-833340
1,Male,Yes,1,Graduate,No,360.0,1.0,Urban,15000-1632000,0-14000000,0-833340
2,Male,Yes,2,Graduate,No,360.0,1.0,Urban,15000-1632000,14000000-28000000,0-833340
3,Male,Yes,2,Graduate,No,360.0,1.0,Urban,15000-1632000,0-14000000,0-833340
4,Male,No,0,Not Graduate,No,360.0,1.0,Urban,15000-1632000,0-14000000,0-833340
...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,360.0,1.0,Urban,15000-1632000,0-14000000,0-833340
363,Male,Yes,0,Graduate,No,360.0,1.0,Urban,15000-1632000,0-14000000,0-833340
364,Male,No,0,Graduate,No,360.0,1.0,Semiurban,15000-1632000,0-14000000,0-833340
365,Male,Yes,0,Graduate,No,360.0,1.0,Rural,15000-1632000,14000000-28000000,0-833340
366,Male,No,0,Graduate,Yes,180.0,1.0,Rural,15000-1632000,0-14000000,0-833340

In [77]:
n = test_data.isnull().sum()
n

Gender                       0
Married                      0
Dependents                   0
Education                    0
Self_Employed                0
Term                         0
Credit_History               0
Area                         0
Applicant_Income_Binned      0
Loan_Amount_binned           0
Coapplicant_Income_Binned    0
dtype: int64

In [78]:
sample = test_data.iloc[0]
prediction = prediction = predict(tree, sample)
print(f"Prediction for sample: {prediction}")

Prediction for sample: Y

In [79]:
predictions = []

for index, row in test_data.iterrows():
    prediction = predict(tree, row)
    predictions.append(prediction)

test_data['Predicted_Status'] = predictions
print(f"Prediction for first row: {predictions[0]}")

print(test_data[['Predicted_Status']])

Prediction for first row: Y
    Predicted_Status
0                  Y
1                  Y
2                  Y
3                  Y
4                  Y
..               ...
362                Y
363                Y
364                Y
365                Y
366                N

[367 rows x 1 columns]

In [80]:
df['Credit_History']

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
609    1.0
610    1.0
611    1.0
612    1.0
613    0.0
Name: Credit_History, Length: 614, dtype: float64

In [81]:
for col in X_train.columns:
    print(col)

Gender
Married
Dependents
Education
Self_Employed
Term
Credit_History
Area
Applicant_Income_Binned
Coapplicant_Income_Binned
Loan_Amount_binned

In [82]:
for col in X_val.columns:
    print(col)

Gender
Married
Dependents
Education
Self_Employed
Term
Credit_History
Area
Applicant_Income_Binned
Coapplicant_Income_Binned
Loan_Amount_binned

In [83]:

predicted_test = []

for index, row in X_val.iterrows():
    predicted_val = predict(tree, row)
    predicted_test.append(predicted_val)

predicted_test

['Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Area',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N']

In [84]:
from collections import Counter

TP = FN = FP = TN = 0

for actual, predicted in zip(y_val, predicted_test):
    if actual == 'Y' and predicted == 'Y':
        TP += 1 
    elif actual == 'Y' and predicted == 'N':
        FN += 1 
    elif actual == 'N' and predicted == 'Y':
        FP += 1 
    elif actual == 'N' and predicted == 'N':
        TN += 1  

accuracy = (TP + TN) / (TP + FP + TN + FN)

precision = TP / (TP + FP)

recall = TP / (TP + FN)

f1_score = 2 * (precision * recall) / (precision + recall)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1_score:.4f}")

Accuracy: 0.7295
Precision: 0.7396
Recall: 0.8987
F1 Score: 0.8114

In [85]:
output_file = "test_data_with_predictions.csv"
test_data.to_csv(output_file, index=False)
print(f"Predictions saved to {output_file}")

Predictions saved to test_data_with_predictions.csv

In [86]:
predictions = test_data[['Predicted_Status']]
output_file = "predicted_status.csv"
predictions.to_csv(output_file, index=False)
print(f" {output_file}")

 predicted_status.csv

In [87]:
count_yes = test_data['Predicted_Status'].value_counts().get('Y', 0)
count_yes

283

In [88]:
count_no = test_data['Predicted_Status'].value_counts().get('N', 0)
count_no

83